@charset "ISO-8859-1";

.post{
	display: flex;
    flex-direction: column;
    padding: 20px;
    border: ridge;
}

.posts{
	display: flex;
	max-width: 100%;
    flex-wrap: wrap;
}

a{
	text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}